@model RestaurappWEB.ViewModel.Home.AdministradorIndexViewModel

@{
    ViewBag.Title = "Dashboard";
}

@section Breadcrumbs{

}

<!-- begin row -->
<div class="row">
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-green">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-users"></i></div>
            <div class="stats-title">USUARIOS</div>
            <div class="stats-number">@Model.Usuarios</div>
            <div class="stats-progress progress">
                <div class="progress-bar" style="width: 70.1%;"></div>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-blue">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-cutlery"></i></div>
            <div class="stats-title">CATEGORÍAS</div>
            <div class="stats-number">@Model.Categorias</div>
            <div class="stats-progress progress">
                <div class="progress-bar" style="width: 40.5%;"></div>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-purple">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-building-o"></i></div>
            <div class="stats-title">RESTAURANTES</div>
            <div class="stats-number">@Model.Restaurantes</div>
            <div class="stats-progress progress">
                <div class="progress-bar" style="width: 76.3%;"></div>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-black">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-comments fa-fw"></i></div>
            <div class="stats-title">RECOMENDACIONES</div>
            <div class="stats-number">15</div>
            <div class="stats-progress progress">
                <div class="progress-bar" style="width: 54.9%;"></div>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
</div>
<!-- end row -->

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-inverse" data-sortable-id="table-basic-2">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                </div>
                <h4 class="panel-title"><i class="fa fa-users"></i> Últimos 10 Usuarios Registrados</h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Usuario</th>
                            <th>Email</th>
                            <th>Nombres</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var usuario in @Model.LstUsuarios)
                        {
                            <tr>
                                <td>@usuario.id</td>
                                <td>@usuario.username</td>
                                <td>@usuario.email</td>
                                <td>@usuario.nombres @usuario.apellidos</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-inverse" data-sortable-id="table-basic-2">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                </div>
                <h4 class="panel-title"><i class="fa fa-building-o"></i> Últimos 10 Restaurantes Registrados</h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int i = 1;}
                        @foreach(var restaurante in @Model.LstRestaurantes)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@restaurante.nombre</td>
                                <td>@restaurante.descripcion</td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
