@model RestaurappWEB.ViewModel.User.EditUserViewModel


@{
    ViewBag.Title = "Usuario";
}

@section Breadcrumbs{
    <li><a href="@Url.Action("ListUser", "User")">Usuarios</a></li>
}


<div class="row">
    <!-- begin col-12 -->
    <div class="col-12 ui-sortable">
        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="form-stuff-5">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                </div>
                <h4 class="panel-title"><i class="fa fa-user"></i> Registrar Usuario</h4>
            </div>
            <div class="panel-body">
                <form role="form" method="post">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Nombre, new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Nombre)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Apellidos, new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.Apellidos, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Apellidos)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Email, new { @class = "control-label"})
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @Type="email" })
                        @Html.ValidationMessageFor(x => x.Email)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Usuario, new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.Usuario, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Usuario)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Password, new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @Type="password"})
                        @Html.ValidationMessageFor(x => x.Password)
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                        <a class="btn btn-default" href="@Url.Action("ListUser", "User")"><i class="fa fa-long-arrow-left"></i> Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-6 -->
</div>
